
<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <div class="name-chat">
        <%= @other_user.name %>
        <%= link_to new_user_message_path(@other_user) do %>
          <i class="fas fa-plus-circle new-message-link"></i>
        <% end %>
        <%= link_to my_messages_path do  %>
        <i class="fas fa-undo-alt return-message-link"></i>
        <% end %>
      </div>
      <div class="message-wrapper">
        <% @messages.each do |message| %>
          <div class="message">
            <%if message.sender.photo? %>
              <%= cl_image_tag (message.sender.photo), class: "avatar-large" %>
            <%else %>
              <%= image_tag "profile_photo.jpg", class: "avatar-large" %>
            <%end %>
            <!-- <div class="message-name">
              <h3><%#= message.sender.name %></h3>
              <p><%#= message.created_at.strftime("%A, %b %d") %></p>
            </div> -->
            <div class="message-body">
              <p>
                <%= message.content %>
              </p>
            </div>

            <div class="message-status">
              <i class="fas fa-check"></i>
            </div>
          </div>
          <p class="date-message"><%= message.created_at.strftime("%A, %b %d") %></p>

        <% end %>
      </div>
    </div>
  <div class="col-xs-3"></div>
  </div>

</div>




