<div class="center">
  <h1>Find a tandem partner!</h1>


<div class="index-search-wrapper">
  <div class="container">
    <a href="#" id="advanced-button">Advanced search</a>
    <form class="form form-inline">

      <%= form_tag profiles_path, method: :get do %>
        <div class="basic_search">
          <div class="form-group row">
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <%= label_tag 'Teach' %>
                <%= text_field_tag :native, params[:native], class: "form-control form-control-search mb-2 mr-sm-2 mb-sm-0", value: @native %>
              </div> <!-- end form group -->
            </div> <!-- end col -->
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <%= label_tag 'Learn' %>
                <%= text_field_tag :learning, params[:learning], class: "form-control form-control-search mb-2 mr-sm-2 mb-sm-0", value: @learning %>
              </div> <!-- end form group -->
            </div> <!-- end col -->
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <%= label_tag 'Around' %>
                <%= text_field_tag :city, params[:city], class: "form-control form-control-search mb-2 mr-sm-2 mb-sm-0", value: @city %>
              </div> <!-- end form group -->
            </div> <!-- end col -->

            <div class="col-xs-12 col-sm-2">
              <div class="form-group search-button">
                <%= button_tag(type: "submit", class: "form-control form-control-search mb-2 mr-sm-2 mb-sm-0 btn btn-search") do %>
                  Search <i class="fas fa-search"></i>
                <% end %>
              </div> <!-- end form group -->
            </div> <!-- end col -->
          </div> <!-- end first row -->
        </div>  <!-- end basic_search -->


        <div class="advanced_search hide" id="advanced_search">
          <div class="form-group row">

            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <%= label_tag(:dedication, "Dedication") %>
                <%= select_tag :dedication, options_for_select( ["all","occassionally", "once per month", "once per week", "more often"]) %>
              </div> <!-- end form group -->
            </div> <!-- end col -->

            <div class="col-xs-12 col-sm-2">
              <div class="form-group form-group-age">
                <%= label_tag(:min_age, "Age from") %>
                <%= select_tag :min_age, options_for_select(( 10..100).step(10)), {include_blank: true} %>
              </div>
            </div> <!-- end col -->

            <div class="col-xs-12 col-sm-2">
              <div class="form-group form-group-age">
                <%= label_tag(:max_age, "Age to") %>
                <%= select_tag :max_age, options_for_select(( 10..110).step(10)), {include_blank: true} %>
              </div> <!-- end form group -->
            </div> <!-- end col -->

            <div class="col-xs-12 col-sm-4">
              <div class="form-group form-inline gender-div">
                <%= check_box_tag :female, params[:female] %>
                <%= label_tag(:female, "Female") %>
                <%= check_box_tag :male, params[:male] %>
                <%= label_tag(:male, "Male") %>
                <%= check_box_tag :other, params[:other] %>
                <%= label_tag(:other, "Other") %>
              </div> <!-- end form group -->
            </div> <!-- end col -->

          </div> <!-- end second row -->
          <div class="form-group row">

            <div class="col-xs-12 col-sm-5">
              <div class="form-group">
                <%= label_tag "Name" %>
                <%= text_field_tag :name, params[:name], class: "form-control form-control-search mb-2 mr-sm-2 mb-sm-0", placeholder: "Name" %>
              </div> <!-- end form group -->
            </div> <!-- end col -->

            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <%= label_tag "Description" %>
                <%= text_field_tag :keywords, params[:keywords], class: "form-control form-control-search mb-2 mr-sm-2 mb-sm-0", placeholder: "Your keywords" %>
              </div> <!-- end form group -->
            </div> <!-- end col -->

          </div> <!-- end third row -->
        </div> <!-- end advanced search -->

       <% end %> <!-- end form tag -->
    </form>
  </div> <!-- end container -->
</div> <!-- end wrapper -->




<!-- ########## -->
<!-- Show users -->
<!-- ########## -->

<% if @users.empty? %>
  <h3> Sorry, we couldn't find any matching tandem partner for you. </h3>
<%= link_to "Try again", profiles_path, class: "btn-basic" %>

<% else %>
  <div class="index-wrapper">
    <div class="container">
      <div class="row">

      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <% if user.photo_background? %>
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path(user.photo_background, :crop=>"fill") %>);">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1494200483035-db7bc6aa5739?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f6f98c139aa65779e05b315d54e332d1&auto=format&fit=crop&w=500&q=60');">
          <% end %>

            <div class="card-category">
              <%= user.address %>
            </div>

            <div class="card-description">
              <h2><%= user.name.capitalize %></h2>
              <p> speaks
              <% user.languages.each do |language| %>
                <%= language.name %>
              <% end %>
              </p>
            </div>

            <% if user.photo? %>
              <%= cl_image_tag(user.photo, class: "card-user-new", :width=>80, :height=>80) %>
            <% else %>
              <img class="card-user-new" src="https://images.unsplash.com/photo-1500373994708-4d781bd7bd15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6d89db6cf08d7c31dc625d10453eb6a&auto=format&fit=crop&w=1050&q=80">
            <% end %>
            <%= link_to("", profile_path(user), class: "card-link") %>

          </div> <!-- end card -->
        </div> <!-- end column -->
      <% end %> <!-- end iteration users -->


      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end wrapper -->
<% end %>

  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>


</div> <!-- end center -->
