<div class="index-wrapper">
  <%= form_tag profiles_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control",
      placeholder: "Language"
    %>
    <a href="" class="search-button">Search</a>

  <% end %>
</div>

<% if @users.empty? %>
  <h3> Sorry, we couldn't find any matching tandem partner for you. </h3>
<%= link_to "Try again", profiles_path, class: "btn-basic" %>

<% else %>
  <div class="index-wrapper">
    <div class="container">
      <div class="row">
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("coffee_people.jpeg") %>);">
            <div class="card-category">In <%= user.address %></div>
            <div class="card-description">
              <h2><%= user.name.capitalize %></h2>
              <p> speaks
              <% user.languages.each do |language| %>
                <%= language.name %>
              <% end %>
              </p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <%= link_to("", profile_path(user), class: "card-link") %>
          </div>
        </div>
      <% end %>
    </div>

      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end wrapper -->
<% end %>
