
<div class="index-search-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <form class="form-inline">

          <%= form_tag profiles_path, method: :get do %>
              <%= label_tag 'Teach' %>
              <%= text_field_tag :native, params[:native], class: "form-rounded form-control mb-2 mr-sm-2 mb-sm-0", value: @native %>
              <%= label_tag 'Learn' %>
              <%= text_field_tag :learning, params[:learning], class: "form-rounded form-control mb-2 mr-sm-2 mb-sm-0", value: @learning %>
               <%= label_tag 'Around' %>
              <%= text_field_tag :city, params[:city], class: "form-rounded form-control mb-2 mr-sm-2 mb-sm-0", value: @city %>
              <%= button_tag(type: "submit", class: "btn btn-search") do %>
                <i class="fas fa-search"></i>
              <% end %>

          <% end %>
        </form>

      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</div> <!-- end wrapper -->


<% if @users.empty? %>
  <h3> Sorry, we couldn't find any matching tandem partner for you. </h3>
<%= link_to "Try again", profiles_path, class: "btn-basic" %>

<% else %>
  <div class="index-wrapper">
    <div class="container">
      <div class="row">

      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <% if user.photo_background? %>
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path(user.photo_background, :crop=>"fill") %>);">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1494200483035-db7bc6aa5739?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f6f98c139aa65779e05b315d54e332d1&auto=format&fit=crop&w=500&q=60');">
          <% end %>

            <div class="card-category">
              <%= user.address %>
            </div>

            <div class="card-description">
              <h2><%= user.name.capitalize %></h2>
              <p> speaks
              <% user.languages.each do |language| %>
                <%= language.name %>
              <% end %>
              </p>
            </div>

            <% if user.photo? %>
              <%= cl_image_tag(user.photo, class: "card-user-new", :width=>80, :height=>80) %>
            <% else %>
              <img class="card-user-new" src="https://images.unsplash.com/photo-1500373994708-4d781bd7bd15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6d89db6cf08d7c31dc625d10453eb6a&auto=format&fit=crop&w=1050&q=80">
            <% end %>
            <%= link_to("", profile_path(user), class: "card-link") %>

          </div>
        </div>
      <% end %>



          </div> <!-- end card -->
        </div> <!-- end column -->
      <% end %> <!-- end iteration users -->


      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end wrapper -->
<% end %>
