<div class="index-wrapper">
  <%= form_tag profiles_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control",
      placeholder: "Language"
    %>
    <a href="" class="search-button">Search</a>

  <% end %>
</div>

<% if @users.empty? %>
  <h3> Sorry, we couldn't find any matching tandem partner for you. </h3>
<%= link_to "Try again", profiles_path, class: "btn-basic" %>

<% else %>
  <div class="index-wrapper">
    <div class="container">
      <div class="row">

      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-4">
          <% if user.photo_background? %>
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path(user.photo_background) %>);">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1494200483035-db7bc6aa5739?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f6f98c139aa65779e05b315d54e332d1&auto=format&fit=crop&w=500&q=60');">
          <% end %>

            <div class="card-category">
              In <%= user.address %>
            </div>

            <div class="card-description">
              <h2><%= user.name.capitalize %></h2>
              <p> speaks
              <% user.languages.each do |language| %>
                <%= language.name %>
              <% end %>
              </p>
            </div>

            <%# if user.photo? %>
            <%# else %>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <%= link_to("", profile_path(user), class: "card-link") %>
            <%# end %>

          </div> <!-- end card -->
        </div> <!-- end column -->
      <% end %>

      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end wrapper -->
<% end %>
