
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%if @user.photo_background? %>
      <div  class="cover-photo-profile" style="background-image: url('<%= cl_image_path @user.photo_background%>');">

      <%else %>
      <div class="cover-photo-profile" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">

      <%end %>
        <div>
          <p class="cover-content-name"><%= @user.name %></p>
          <p class="cover-content-email"><%= @user.email%></p>
          <div data-toggle="modal" data-target="#uploadProfilePicture" role="button">
            <%if @user.photo? %>
              <%= cl_image_tag @user.photo.url, class: "img-profile" %>
            <%else %>
              <%= image_tag "profile_photo.jpg", class: "img-profile" %>
            <%end %>
          </div>
        </div>

        <div class="icon-camera">
          <i data-toggle="modal" data-target="#uploadPictureBackground" role="button" class="fas fa-camera"></i>
        </div>
      </div>
    </div>
  </div><!--  close row banner profile -->

   <div class="var-cover-profile">
    <div class="row">
      <ul>
        <div class="var-cover-filler col-xs-1"></div>
        <div class="var-cover col-xs-3">
          <li>
          <%= link_to("Message",my_messages_path, class: "var-cover-link") %>

        </li>
        </div>
        <div class="var-cover col-xs-3">
          <li>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "var-cover-link"%>
          </li>
        </div>
        <div class="var-cover col-xs-3">
          <li>
            <%= link_to "Find tandem",   profiles_path, class: "var-cover-link"%>
          </li>
        </div>


      </ul>
    </div><!-- close row var profile -->
  </div> <!--- close var cover profile -->

    <!-- ...................BODY SECTION..................... -->
    <div class="dashboard-grid">
        <!-- PROFILE INFO -->
        <div class="dashboard-item personal-date-user dashboard-about">
          <h5 class="text-center">About</h5 >
            <ul class="list-unstyled list-spaced">
              <li>
                <span><strong>Age:</strong> <%= @user.age %></span>
              </li>
              <li>
                <span><strong>Gender:</strong> <%= @user.gender %></span>
              </li>
              <li>
                <span><strong>Address:</strong> <%= @user.address %></span>
              </li>
              <li>
                <span><strong>Last login:</strong> <%= @user.last_sign_in_at.strftime("%A, %b %d") %></span>
              </li>
              <li>
                <span><strong>Dedication</strong> <%= @user.dedication %></span>
              </li>
            </ul>
        </div>
        <!-- PROFILE INFO -->

        <!-- MAP -->
        <div class="map-wrapper dashboard-map dashboard-item">
          <div
            id="map"
            margin-top = "20px";
            style="width: 100%;
            height: 100%;"
            data-markers="<%= @markers.to_json %>"></div>
        </div> <!-- end map wrapper -->
        <!-- MAP -->


        <!-- DESCRIPTION  -->
        <div class="dashboard-item description-wrapper dashboard-description">
          <div>
            <h5 class="text-center"> Description</h5>
            <p class="text-justify"><%= @user.description %></p>
          </div>

        </div>
        <!-- DESCRIPTION -->

        <!-- FRIENDS -->
        <div class="dashboard-item friends-wrapper dashboard-friends">
         <h5 class="text-center">Friends</h5>
         <div class="my-friends">
            <% @my_conversations.each do |friend| %>
              <%= link_to profile_path(friend) do %>
                <%  if friend.photo? %>
                  <%= cl_image_tag friend.photo.url, class: "avatar-large-profile" %>
                <% else %>
                  <%= image_tag "profile_photo.jpg", class: "avatar-large-profile" %>
                <%end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- FRIENDS -->

        <!-- LANGUAGES -->
        <div class="dashboard-item friends-wrapper dashboard-languages">
          <h5>Languages</h5>
          <ul class="list-unstyled list-spaced">
            <% @native_languages.each do |lang| %>
              <li><span><strong>Native:</strong>
                 <%= lang.name %>
              </span></li>
            <% end %>

            <% @learn_skills.each do |skill| %>
              <li><span><strong>Learning:</strong>
                <%= skill.language.name %>
                <%= skill.score %>

              </span></li>
            <% end %>

          </ul>
          <i class="fas fa-plus-circle new-lenguage-link" data-toggle="modal" data-target="#addLanugage"></i>
        </div>
        <!-- LANGUAGES -->

    </div> <!-- close dashboard grid -->
</div> <!-- close container -->










<!-- FORM UPLOAD PROFILE PICTURE-->
<%= simple_form_for(@user, url: profile_path(@user.id), method: :put) do |f| %>
<div class="modal fade" id="uploadProfilePicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= f.input :photo  %></h4>
      </div>
      <div class="modal-body">
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit %>
          <!-- [...] -->

      </div>
    </div>
  </div>
</div>
<% end %>

<!-- FORM UPLOAD BACKGROUND PICTURE-->

<%= simple_form_for(@user, url: profile_path(@user.id), method: :put) do |f| %>
<div class="modal fade" id="uploadPictureBackground" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= f.input :photo_background  %></h4>
      </div>
      <div class="modal-body">
          <%= f.input :photo_background_cache, as: :hidden %>
          <%= f.button :submit %>
          <!-- [...] -->

      </div>
    </div>
  </div>
</div>
<% end %>

<!-- FORM ADD LANGUAGES-->

<%= simple_form_for(@user, url: language_skills_create_path, method: :get) do |f| %>
<div class="modal fade" id="addLanugage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add language</h4>
      </div>
      <div class="modal-body">
          <%= f.association :languages, required: true %>
          <%= f.association :language_skills, as: :radio_buttons, collection: [[1, "Beginner"],[2, "Beginner-Intermediate"],[3, "Intermediate"],[4,"Good"],[5,"Fluent"],[6,"Native"]],
            label_method: :second, value_method: :first  %>

          <%= f.button :submit %>
      </div>
    </div>
  </div>
</div>
<% end %>



