
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%if @user.photo_background? %>
      <div  class="cover-photo-profile" style="background-image: url('<%= cl_image_path @user.photo_background%>');">

      <%else %>
      <div class="cover-photo-profile" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">

      <%end %>
        <div>
          <p class="cover-content-name"><%= @user.name %></p>
          <!-- <p class="cover-content-email"><%= @user.email%></p> -->
            <%if @user.photo? %>
              <%= cl_image_tag @user.photo.url, class: "img-profile", height: 160, width: 160, crop: :fill %>

            <%else %>
              <%= image_tag "profile_photo.jpg", class: "img-profile" %>
            <%end %>
        </div>

      </div>
    </div>
  </div><!--  close row banner profile -->

   <div class="var-cover-profile">
    <div class="row">
      <ul>
        <div class="var-cover-filler col-xs-1"></div>
        <div class="var-cover col-xs-3">
          <li>
          <!-- <a  class="var-cover-link" href="#"> Send a message</a> -->
          <%= link_to("Send a message", new_user_message_path(@user), class: "var-cover-link") %>
        </li>
        </div>
        <div class="var-cover col-xs-3">
          <li>
          <a class="var-cover-link" href="#"> Send a friend request</a>
          </li>
        </div>
        <div class="var-cover col-xs-3">
          <li>
          <a class="var-cover-link" href="#"> Send a review</a>
          </li>
        </div>


      </ul>
    </div><!-- close row var profile -->
    </div>

    <!-- ...................BODY SECTION..................... -->
       <div class="dashboard-grid">
        <!-- PROFILE INFO -->
        <div class="dashboard-item personal-date-user dashboard-about">
          <h5 class="text-center">About</h5 >
            <ul class="list-unstyled list-spaced">
              <li>
                <span><strong>Age:</strong> <%= @user.age %></span>
              </li>
              <li>
                <span><strong>Gender:</strong> <%= @user.gender %></span>
              </li>
              <li>
                <span><strong>Address:</strong> <%= @user.address %></span>
              </li>
              <!-- <li>
                <span><strong>Last login:</strong> <%#= @user.last_sign_in_at.strftime("%A, %b %d") %></span>
              </li> -->
              <li>
                <span><strong>Dedication</strong> <%= @user.dedication %></span>
              </li>
            </ul>
        </div>
        <!-- PROFILE INFO -->

        <!-- MAP -->
        <div class="map-wrapper dashboard-map dashboard-item">
          <div
            id="map"
            margin-top = "20px";
            style="width: 100%;
            height: 100%;"
            data-markers="<%= @markers.to_json %>"></div>
        </div> <!-- end map wrapper -->
        <!-- MAP -->


        <!-- DESCRIPTION  -->
        <div class="dashboard-item description-wrapper dashboard-description">
          <div>
            <h5 class="text-center"> Description</h5>
            <p class="text-justify"><%= @user.description %></p>
          </div>


        </div>
        <!-- DESCRIPTION -->

        <!-- LANGUAGES -->
        <div class="dashboard-item friends-wrapper dashboard-languages">
          <h5>Languages</h5>
          <ul class="list-unstyled list-spaced">
            <li><em>Native:</em></li>
            <% @native_languages.each do |lang| %>
              <li><span>
                <%= lang.name %> &nbsp;
                <% 5.times do %>
                  <span class="blue-stars"><i class="fas fa-star"></i></span>
                <% end %>
              </span></li>
            <% end %>
            <br>

            <li><em>Learning:</em></li>
            <% @learn_skills.each do |skill| %>
              <li><span>
                <%= skill.language.name %> &nbsp;
                <% skill.score.to_i.times do %>
                  <span class="blue-stars"><i class="fas fa-star"></i></span>
                <% end %>
                <% (5-skill.score.to_i).times do %>
                  <span class="black-stars"><i class="fas fa-star"></i></span>
                <% end %>
              </span></li>
            <% end %>

          </ul>
        </div>
        <!-- LANGUAGES -->

        <!-- FRIENDS -->
        <div class="dashboard-item friends-wrapper dashboard-friends">
         <h5 class="text-center">Friends</h5>
         <div class="my-friends">
            <% @my_conversations.each do |friend| %>
              <%= link_to profile_path(friend) do %>
                <%  if friend.photo? %>
                  <%= cl_image_tag friend.photo.url, class: "avatar-large-profile" %>
                <% else %>
                  <%= image_tag "profile_photo.jpg", class: "avatar-large-profile" %>
                <%end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- FRIENDS -->
    </div> <!-- close dashboard grid -->

</div> <!-- close container -->
