
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-wrapper">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="row">

              <div class="col-xs-6"><%= f.input :email, required: true, autofocus: true %></div>
              <div class="col-xs-6"><%= f.input :name, required: true %></div>
            </div>
            <div class="row">
              <div class="col-xs-6"><%= f.input :city, required: true %></div>
              <div class="col-xs-6"><%= f.input :street %></div>
            </div>

            <%= f.input :description, required: true %>
            <%= f.input :dedication,
              collection:["occassionally", "once per month", "once per week", "more often"] %>

            <div class="row">
              <div class="col-xs-6"><%= f.input :gender, collection:["female", "male", "other"] %></div>
              <div class="col-xs-6"><%= f.input :age, as: :numeric%></div>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <br><br>

            <h4>Change my password</h4>

            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class: "btn-basic"  %>
            <%= link_to "Back", :back, class: "btn-basic" %>

          </div>
        <% end %>

        <br><br>
        <h4>Cancel my account</h4>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      </div> <!-- end wrapper -->
    </div> <!-- end col -->
  </div><!-- close row -->
</div><!-- close conrainer -->

