<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-offset-3">
      <div class="form-wrapper">

        <h2>Sign up</h2>

        <div class= "text-center">
         <%= render "devise/shared/links" %>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <% if resource.errors.any? %>
            <div class="errors-container">
             <ul>
             <% resource.errors.full_messages.each do |message| %>
           <li><%= message %></li>
           <% end %>
             </ul>
           </div>
           <% end %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: 'small-text' %>
            <%= f.input :password_confirmation, required: true %>

            <%= f.input :name, required: true %>
            <%= f.input :address, required: true, hint: "city or address" %>

            <div class="form-group">
              <%= f.association :languages, label: 'Native language', required: true %>
                <%#= f.association :language_skills, as: :radio_buttons, hint: "1: beginner 5: fluent", collection: 1..5 %>
            </div>

            <div class="form-group">
            <%= f.input :description, required: true %>
            <%= f.input :dedication,
              collection:["occassionally", "once per month", "once per week", "more often"] %>
            </div>

            <%#= f.input :gender, collection:["female", "male", "other"] %>
            <%#= f.input :age, required: true , as: :numeric%>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: 'btn-form' %>
          </div>
        <% end %>

      </div> <!-- end wrapper -->
    </div> <!-- end col -->
  </div><!-- close row -->
</div><!-- close conrainer -->
