<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("copenhagen.jpeg") %>);">
  <div class="banner-content">
    <h1>Find a language friend</h1>
    <p>The language exchange site for Denmark</p>
    <% if user_signed_in? %>
      <%= link_to "Find tandem", profiles_path, class:"btn-basic"%>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class:"btn-basic"%>
    <% end %>
  </div>
</div>


<div class="index-wrapper">
  <div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">

          <% if user.photo_background? %>
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path(user.photo_background, :crop=>"fill") %>);">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1494200483035-db7bc6aa5739?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f6f98c139aa65779e05b315d54e332d1&auto=format&fit=crop&w=500&q=60');">
          <% end %>

            <div class="card-category">
              <%= user.address %>
            </div>

            <div class="card-description">
              <h2><%= user.name.capitalize %></h2>
              <p> speaks
              <% user.languages.each do |language| %>
                <%= language.name %>
              <% end %>
              </p>
            </div>


            <%= link_to("", new_user_registration_path, class: "card-link") %>

            </div> <!-- end card -->

          </div> <!-- end column -->
        <% end %>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end wrapper -->

